:global {
  body[data-theme="light"] {
    --block-bg: var(--gray-50);
    --lang-color: var(--gray-300);
  }

  body[data-theme="dark"] {
    --block-bg: var(--gray-500);
    --lang-color: var(--white);
  }
}

.repoItem {
  margin: 10px;
  padding: 10px;
//   border: 1px solid #ccc;
  border-radius: 10px;
  background-color: var(--block-bg);
}

.repoItem a {
  font-weight: bold;
  color: #0366d6;
  text-decoration: none;
}

.repoItem p {
  margin: 5px 0;
}

.language {
  color: var(--lang-color);
}

.stars {
  color: #f0a54a;
}

.watchers {
  color: #6cc644;
}

forks {
  color: #586069;
}

.createdAt,
.updatedAt {
  font-size: 14px;
  color: #777;
}
.flexBlock {
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 560px) {
    justify-content: space-between;
  }
}
