:global {
  body[data-theme='light'] {
    --reposlist-bg: var(--white);
    --text-color: var(--gray-300);
  }

  body[data-theme='dark'] {
    --reposlist-bg: var(--gray-400);
    --text-color: var(--white);
  }
}

.reposListBlock {
  background-color: var(--reposlist-bg);
  padding: 20px;
  border-radius: 15px;
}

.header {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--text-color);
}

.reposList {
  list-style: none;
  padding: 0;
}

